extends layout

block styles

block content
  .jumbotron
    h1.text-center= user.email+"'s Profile:"
  a.btn.btn-danger(href='/users/changepassword') Change password
  if games
    if games.length === 0
      h3 Your Inventory is Empty!
    else 
      h3 Your Inventory:   
    .container#collection 
      .row
        .col-xs-2 Title
      each game in games
        .row
          btn.col-xs-2.btn.btn-primary.btn-sm.showGame(data-gameid=game._id, data-userid=user._id)= game.title
          
          if game.canTrade
            a.col-xs-offset-1 Open to Trade
            if state==="offerTrade"
              .btn.btn-success#makeTrade(data-gameId=game._id, data-userId=user._id, data-desiredgame=desiredgame, data-owner=ownerid) Make Trade
          else 
            a.col-xs-offset-1 Not Open to Trade

block scripts
  script(src="/js/index.js")
